@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply text-[#3e4b5b];
  }
  input {
    /* @apply outline-none border-transparent focus:border-transparent focus:ring-0; */
  }
}

td {
  padding: 0.8rem 1.25rem;
  text-align: center;
}

tr {
  border-bottom: 1px solid #dbdbdb;
}

tr:last-child {
  border: none;
}

tr:hover {
  background: rgb(198, 205, 226, 0.2);
  cursor: pointer;
}
